<div class="col-md-3 sidebar">
    <h3>Dashboard</h3>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink href="/dashboard" class="nav-link" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/transaction" class="nav-link">Add Transaction</NavLink>
        </li>

        <li class="nav-item">
            <NavLink href="/debt" class="nav-link">Add Debt</NavLink>
        </li>

        <li class="nav-item">
            <button class="btn btn-danger w-100">Logout</button>
        </li>
    </ul>
</div>